In [7]:
import pandas as pd

In [9]:
fdata = pd.read_csv("budget_data.csv")

In [11]:
fdata.shape

(86, 2)

In [22]:
fdata.info

<bound method DataFrame.info of         Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]>

In [36]:
Profit_Loss = fdata["Profit/Losses"]

In [38]:
Profit_Loss.sum()

38382578

In [120]:
a = 0
list_changes=[]

for i in Profit_Loss:
    if a == 0:
        a+=1
        list_changes.append(0)
    else: 
        changes = i - Profit_Loss[a-1]
        a+=1
        list_changes.append(changes)

round(sum(list_changes)/(len(list_changes)-1), 2)
print(f"${round(sum(list_changes)/(len(list_changes)-1), 2)}")

$-2315.12

In [78]:
fdata["fchanges"]=list_changes

In [80]:
fdata.head()

       Date  Profit/Losses  fchanges
0  Jan-2010         867884         0
1  Feb-2010         984655    116771
2  Mar-2010         322013   -662642
3  Apr-2010         -69417   -391430
4  May-2010         310503    379920

In [110]:
greatest_loc = fdata["fchanges"].idxmax()

In [118]:
print(f'{fdata.loc[greatest_loc]["Date"]}: ${fdata.loc[greatest_loc]["fchanges"]}')

Feb-2012: $1926159

In [116]:
lowest_loc = fdata["fchanges"].idxmin()
print(f'{fdata.loc[lowest_loc]["Date"]}: ${fdata.loc[lowest_loc]["fchanges"]}')

Sep-2013: $-2196167